*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    gap: 10px;
    position: sticky;
    top: 0%;
    background-color: white;
    cursor:pointer;
    z-index: 1;
}
.navbar h1{
    font-size: 40px;
    color: #a435f0;
}
.search{
    padding: 10px;
    width: 60%;
    border-radius: 30px;
    border:solid black 1px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.search input{
    border: none;
    width: 100%;
    background: transparent;
}
.search input:focus{
    outline: none;
}

.list{
    display: flex;
    gap: 30px;
    align-items: center;
}

.Categories{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}
.Categories p{
    background-color:#a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #a435f0;
}

.Categories p:hover{
    transition: 1s;
    background-color: transparent;
    color:black;
    border: 1px solid #a435f0;
}

.sale-image{
    position: relative;
}

.Offer{
    padding: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 300px;
    position: absolute;
    bottom: 130px;
    left: 80px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.Offer h1{
    color: #a435f0;
    margin-bottom: 10px;
}

.section-3{
    padding: 10px;
}
.courses{
    padding: 3px;
    display: flex;
    justify-content: space-between;
}
.box{
    padding: 10px;
    width: 250px;
    height: 300px;
}
.box img{
    width: 100%;
    height: 50%;
}
.box h3 p span{
    margin-top: 30px;
}
.topics{
    padding: 10px;
}
.Topic-container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.Topic-container p{
    border: 1px solid black;
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
}

.section-5{
    margin-top: 10px;
    padding: 10px;
}

.card{
    padding: 10px;
    width: 250px;
    height: 300px;
    flex-basis: 20%;
    flex-grow: 1;
}
.card img{
    width: 100%;
    height: 50%;
}
.Popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.footer{
    padding: 10px;
    background-color: black;
    color: white;
}
.f1{
    padding: 20px;
    display: flex;
    gap: 50px;
}
.f1 p{
    margin-top: 10px;
}

.f2{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}